<f:validation.results for="{for}">
    <f:if condition="{validationResults.flattenedErrors}">
        <dl
            style="border: 1px solid rgb(163, 7, 98); padding: 10px; font-weight: bold; color: rgb(114, 7, 7);"
        >
            <f:for
                each="{validationResults.flattenedErrors}"
                key="propertyName"
                as="errors"
            >
                <dt>
                    {propertyName}:
                </dt>
                <dd>
                    <f:for each="{errors}" as="error">{error}</f:for>
                </dd>
            </f:for>
        </dl>
    </f:if>
</f:validation.results>
