<f:layout name="Default" />

<f:section name="Title">Edit task "{task.title}"</f:section>

<f:section name="Content">
    <f:render partial="FormErrors" arguments="{for: 'task'}"></f:render>
    <f:form action="update" object="{task}" objectName="task">
        <div>
            <label for="name">Name</label>
            <div>
                <f:form.textfield property="title" id="title" />
            </div>
            <br>
            <label for="description">Description</label>
            <div>
                <f:form.textarea property="description" id="description"></f:form.textarea>
            </div>
            <label for="statu">Completed</label>
            <div>
                <f:form.checkbox property="status" id="status" value="TYPO3" checked="{task.status} == 1"></f:form.checkbox>
            </div>
            <div>
                <f:form.submit value="Update" />
            </div>
        <div>
    </f:form>
</f:section>
