<f:layout name="Default" />

<f:section name="Title">A list of tasks</f:section>

<f:section name="Content">
    <f:if condition="{tasks}">
        <f:then>
            <ul style="list-style: none;">
                <f:for each="{tasks}" as="task">
                    <f:if condition="{task.status}">
                        <f:then>
                            <li style="text-decoration: line-through;">
                                <f:link.action
                                    action="show"
                                    arguments="{task: task}"
                                    style="text-decoration: none;font-size: 1.1rem;"
                                    >{task.title}</f:link.action
                                >
                            </li>
                        </f:then>
                        <f:else>
                            <li>
                                <f:link.action
                                    action="show"
                                    arguments="{task: task}"
                                    style="text-decoration: none;font-size: 1.1rem;"
                                    >{task.title}</f:link.action
                                >
                            </li>
                        </f:else>
                    </f:if>
                    <div style="display: flex;">
                        <f:link.action
                            action="edit"
                            arguments="{task: task}"
                            style="text-decoration: none;font-size: .8rem; padding-top: 3px;"
                            >Edit
                        </f:link.action>
                        <f:form action="delete" arguments="{task: task}">
                            <f:form.submit
                                name="delete"
                                value="Delete"
                                style="border: none; background: none; color: red; cursor: pointer;"
                            />
                        </f:form>
                    </div>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <p>No tasks created yet.</p>
        </f:else>
    </f:if>
    <p><f:link.action action="new">Create a new task</f:link.action></p>
</f:section>
