<f:layout name="Default" />

<f:section name="Title">New task</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new task:</p>
    <f:render partial="FormErrors" arguments="{for: 'newTask'}"></f:render>
    <f:form action="create" objectName="newTask">
            <label for="name">Name</label>
            <div>
                <f:form.textfield property="title" id="title" />
            </div>
            <br>
            <label for="description">Description</label>
            <div>
                <f:form.textarea property="description" id="description" rows="5" cols="30" />
            </div>
            <div>
                <f:form.submit value="Create" />
            </div>
        </ul>
    </f:form>
</f:section>
