<f:layout name="Default" />

<f:section name="Title">Show task"{task.title}"</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>Name:</th>
            <td>{task.title}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{task.description}</td>
        </tr>
        <tr>
            <th>Created at</th>
            <td><f:format.date>{task.date}</f:format.date></td>
        </tr>
    </table>
    <f:link.action action="index">Back</f:link.action>
</f:section>
